* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 16px; 1 rem of 62.5% = 1*16*0.625 px = 10px
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size; //1.6rem = 1.6*16*0.625 = 16px
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
